<footer>
    <div class="container py-5">
        <div class="row mx-0 justify-content-between">
            <div class="col-md-6 py-3">
                <div class="set1 pr-xl-5">
                    <img src="assets/images/logo.png" alt="">
                    <p class="mt-4">Get Detailed Information on Top Colleges, Courses & Exams in India. Get alerts about Ranking, Cutoff, Placements, Fees & Admissions of 23,000+ Colleges & Universities. Get Question Papers, Syllabus & Important dates of 500+ exams.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-5 py-3">
                <app-testimonial-foot></app-testimonial-foot>
            </div>
        </div>
    </div>
</footer>