footer {
    background-color: #1d1d1d;
    .set1 {
        img {
            width: 220px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            color: #eaeaea;
        }
    }
}