<section>
    <div class="container text-center">
        <h1 class="d-grid d-sm-inline pl-sm-3">Choose from <span class="px-3">Categories</span></h1>
        <div class="row mx-0 mt-6">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Medical' image='medical.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name="Nursing" image='nurse.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Paramedical' image='paramedical.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Pharmacy' image='pharmacy.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Vetenary' image='vetenary.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Medical' image='medical.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name="Nursing" image='nurse.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Paramedical' image='paramedical.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Pharmacy' image='pharmacy.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Vetenary' image='vetenary.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Pharmacy' image='pharmacy.svg'></app-cat-card>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 mb-4">
                <app-cat-card name='Vetenary' image='vetenary.svg'></app-cat-card>
            </div>
        </div>
    </div>
</section>