.header {
    background-image: url('/assets/images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 100vh 100vh 100vh 100vh inset #00000080;
    text-align: center;
    padding: 140px 0px 80px 0px;
    h1 {
        color: #fff;
        font-weight: 300;
    }
}