.head {
    .cover {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
    .cnt {
        height: 600px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: #00000080;
        text-align: center;
        display: flex;
        align-items: center;
        .container {
            width: 100%;
            .logo {
                width: 200px;
                height: 200px;
                border-radius: 250px;
                border: 2px solid #ffffff;
            }
            h1 {
                color: #fff;
            }
            .detail {
                display: flex;
                justify-content: center;
                div {
                    color: #fff;
                    text-transform: uppercase;
                    span {
                        font-size: 20px;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

@media(max-width:767.98px) {
    .head {
        .cnt {
            align-items: flex-end;
            .container {
                width: 100%;
                .logo {
                    width: 180px;
                    height: 180px;
                }
                h1 {
                    font-size: 30px;
                }
                .detail {
                    flex-flow: wrap;
                    div {
                        font-size: 14px;
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}